<div class="row px-1">
    <div class="col-6 col-lg-10">
      <h3 style="letter-spacing: 0.9px; text-transform: uppercase">
        Notice&nbsp;Category
      </h3>
    </div>
    <div class="col-6 col-lg-2" style="text-align: right">
      <!-- <span class="mt-1 btn btn-success btn-sm rounded-pill"  >ADD&nbsp;&nbsp;<i class="fa fa-plus-square"></i></span> -->
    </div>
    <hr class="p-0 m-0" />
    <br />
  
    <div
      class="col-12 my-2 tabs"
      *ngIf="this.school_code != 'Select School'; else notFound"
    > 
    <!-- <div class="row">
        <form [formGroup]="categoryForm" ngNativeValidate (ngSubmit)="submit()" >
            <div class="row">
                <div
                  class="col-12 col-lg-12 col-xl-12 tabs"
                  style="border-right: 12px solid whitesmoke"
                >
                <div
                class="col-12 col-lg-6 col-xl-6"
                style="position: relative"
              >
                <label>Category&nbsp;Type</label><sup class="text-danger">*</sup>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Notice Category"
                  title="Notice Category"
                  required
                  pattern="[a-zA-Z._'\s]+"
                  formControlName="name"
                />
              </div>
                </div>
                <div class="col-6">
                    <input type="submit" value="Create Category" class="btn btn-success">
                </div>
              </div>
         </form>
    </div> -->


     <div class="row my-5 mx-5">
        <div class="col-12">
            <div>
                <h3>Notification Category List</h3>
            </div>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dt of categoryList; let i = index ">
                        <td>{{i + 1}}</td>
                        <td>{{dt.name}}</td>
                        <td><i class="fa fa-times text-danger"(click)="delete(dt.id , dt.uuid)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    </div>
  
    <ng-template #notFound>
      <div class="row my-2 px-2">
        <div 
          class="col-12 tabs"
          style="position: relative; display: flex; align-items: baseline"
        >
          <i class="fa fa-building fa-2x text-danger" aria-hidden="true"></i
          >&nbsp;&nbsp;&nbsp;
          <h5 class="text-danger">
            No school Selected. Please Select the school
          </h5>
        </div>
      </div>
    </ng-template>
  </div>
  