<div
  *ngIf="regBoxStatus"
  style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  "
></div>

<!-- Add Box -->
<div class="box py-4" [ngClass]="this.regBoxStatus ? 'top-10' : ''">
  <div>
    <div
      class="p-2 pt-3"
      style="display: flex; justify-content: space-between; align-items: baseline"
    >
      <h4 class="px-3" style="letter-spacing: 0.9px; text-transform: uppercase">
        {{ this.action }}&nbsp;Download&nbsp;Center
        <!-- &nbsp;&nbsp; <i class="fa fa-download" style="font-size: 16px; cursor: pointer;" (click)="openPDF()">Download</i> -->
      </h4>
      <span class="btn btn-sm rounded-pill" (click)="onClickRegBox(false)"
        ><i class="fa fa-times fa-lg"></i
      ></span>
    </div>
    <hr class="p-0 m-0" />
    <div class="container">
      <div class="row g-4">
        <div class="col-12">
          <form [formGroup]="noticeForm" (ngSubmit)="submit()" ngNativeValidate>
            <div class="row my-4 g-4">
              <div
                class="col-12 col-lg-6 col-xl-6"
                style="position: relative"
              >
                <label>Title</label><sup class="text-danger">*</sup>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  title="Title"
                  required
                  formControlName="title"
                />
              </div>

              <div
                class="col-12 col-lg-6 col-xl-6"
                style="position: relative"
              >
                <label>Document Link</label><sup class="text-danger">*</sup>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Document Link"
                  title="Document Link"
                  
                  formControlName="document"
                />
              </div>

              <div
              class="col-12 col-lg-12 col-xl-12"
              style="position: relative"
            >
              <label>Video Link</label><sup class="text-danger">*</sup>
              <input
                type="text"
                class="form-control"
                placeholder="video Link"
                title="video Link"
                
                formControlName="video"
              />
            </div>


            <div class="col-12">
              <angular-editor formControlName="description" [config]="config"></angular-editor>
            </div>
            <div class="col-12">
              <input type="submit" value="Submit" class="btn btn-sm btn-success" >
            </div>
            </div>   
          
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
