<div class="row" *ngIf="viewStatus">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <h5>Receipt List</h5>
      </div>
      <div class="col-6">
        <select (change)="changePrintingType(value.value)" [(ngModel)]="printingType" #value class="form-control">
          <option value="A4">A4 Printing</option>
          <option value="Thermal">Thermal Printing</option>
        </select>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>R.&nbsp;No</th>
          <th>Date</th>
          <th>Type</th>
          <th *ngIf="this.receiptType == 'fee'">Month</th>
          <th *ngIf="this.receiptType == 'custom_fee'">Facility&nbsp;Name</th>
          <th style="text-align: right">Paid</th>
          <th style="text-align: right;">Receipt</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="!loaderStatus; else loaded">
          
                <ng-container *ngIf="printData.length <= 0; else datanotfound">
                  <tr>
                    <td [attr.colspan]="4">Data Not Found</td>
                  </tr>
                </ng-container>
               <ng-template #datanotfound>
                <tr *ngFor="let dt of printData">
                  <td style="white-space: nowrap;">{{ dt.receipt_no }}</td>
                  <td style="white-space: nowrap;">{{ dt.date }}</td>
                  <td style="white-space: nowrap;">{{ dt.pay_type.pay }}</td>
                  <td *ngIf="this.receiptType == 'fee'" style="white-space: nowrap;">{{ dt.month }}</td>
                  <td *ngIf="this.receiptType == 'custom_fee'">{{ dt.custom_facility }}</td>
                  <td style="text-align: right" *ngIf="this.receiptType == 'fee'" >{{ dt.tot_paid }}</td>
                  <td style="text-align: right" *ngIf="this.receiptType == 'previous_balance'"  >{{ dt.amount }}</td>
                  <td style="text-align: right; cursor: pointer;">
                    <i class="fa fa-eye" style="z-index: -1;" (click)="download_pdf(dt)"></i>&nbsp;
                    <i class="fa fa-edit" style="z-index: -1;" (click)="openBox(dt)"></i>
                  </td>
                </tr>
              </ng-template>
             
        </ng-container>
        <ng-template #loaded>
          <tr>
            <td [colSpan]="4" style="text-align: center">
              <i class="fa fa-spinner fa-spin fa-lg"></i> &nbsp;
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>




<!-- Edit Receip -->
<div *ngIf="recieptBoxStatus"
    style="position: fixed;top: 0;left: 0;width:100%;height: 100%;background-color:rgba(0,0,0, 0.5);z-index: 10;">
</div>

 

<!-- Add Box -->
<div class="box" style="z-index: 11;" [ngClass]="this.recieptBoxStatus? 'top-10' : ''">
    <div>
        <div class="p-2 pt-3" style="display: flex; justify-content: space-between;">
            <h5 style="letter-spacing: 0.9px; text-transform: uppercase; ">Slip&nbsp;No: {{title}}</h5>
            <span class="btn btn-sm rounded-pill" (click)="closeBox()"><i
                    class="fa fa-times"></i></span>
        </div>
        <hr class="p-0 m-0"> 
        <br>
        <div style="display: flex; justify-content: space-between;">
            <form [formGroup]="classForm" (ngSubmit)="addSubmit()" ngNativeValidate>
                <div class="row g-4 px-4">
                    <!-- <div class="col-12 col-lg-12 col-xl-12">
                        <label>School List</label><sup class="text-danger">*</sup>
                        <input type="text" formControlName="school_code" required readonly class="form-control">
                    </div> -->
                    <div class="col-12 col-lg-12 col-xl-12">
                        <label>Date</label><sup class="text-danger">*</sup>
                        <input type="date" class="form-control"  
                            formControlName="date" required>
                    </div>
                    <hr class="p-0 m-0" style="color: white;">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <label>Slip No</label><sup class="text-danger">*</sup>
                        <input type="number" class="form-control"
                            formControlName="slip_no" required>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-12">
                      <label>Slip No</label><sup class="text-danger">*</sup>
                      <select
                      class="form-control"
                      formControlName="pay_type_id"
                    >
                      <option
                        *ngFor="let dt of payType"
                        [value]="dt.id"
                        [selected]="dt.id == 2"
                      >
                        {{ dt.pay }}
                      </option>
                    </select> 
                  </div>
                    <div class="col-12 mb-4">
                        <input type="submit" class="btn btn-md btn-success rounded-pill" [disabled]="submitStatus" value="Submit">&nbsp;<i
                        class="fas fa-spinner fa-pulse text-success fa-lg" *ngIf="submitStatus"></i>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


