.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
.tabs {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

label {
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: bold;
}

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
}

.inputBox label {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 10px;
  color: green;
  font-size: 0.75rem;
  background-color: white;
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.inputBox input:focus {
  outline: none;
  border: 2px solid green;
}

@media (max-width: 575.98px) {
  p {
    font-size: 12px;
  }
  .tabs {
    padding: 0px;
    border-radius: 5px;
  }
  
}

@media (max-width: 767.98px) {
  p {
    font-size: 12px;
  }
  .tabs {
    padding: 0px;
    border-radius: 5px;
  }
}
