<div class="row">
    <div class="col-lg-10 col-8">
        <h3 style="text-transform: uppercase; letter-spacing: 0.9px;">Student Registration List</h3>
    </div>
    <div class="col-4 col-lg-2" style="text-align: right;" *ngIf="this.school_code != 'Select School'">
        <span class="mt-lg-1 btn btn-success btn-sm rounded-pill"
            [routerLink]="['../student-registration' , {action:'add' , id:null}]">Registration&nbsp;&nbsp;<i
                class="fa fa-plus-square"></i></span>
    </div>
    <hr class="p-0 m-0">

    <br>

 
    <div class="col-12 my-2 tabs" *ngIf="this.school_code != 'Select School' ; else notFound">
        <div class="row px-1">
            <div class="col-12 col-lg-6 my-2">
                <button class="btn btn-sm btn-warning" (click)="downloadCSV()">Excel</button>&nbsp;
            </div>
            <div class="col-12 col-lg-6">
                <div style="display: flex;justify-content: end;">
                    <!-- <select [(ngModel)]="search_by">
                        <option value="reg_no">Registration&nbsp;Code</option>
                        <option value="name">Student&nbsp;Name</option>
                        <option value="f_name">Father&nbsp;Name</option>
                        <option value="mobile_no">Student&nbsp;Mobile&nbsp;No</option>
                    </select>&nbsp;&nbsp; -->
                    <input type="search" class="form-control" placeholder="Ex: Name, Reg Code , By" title="Ex: Name, Code , By"
                        [(ngModel)]="searchText" #searchInput>
                    <i class="fa fa-search fa-lg"
                        style="background-color: lightseagreen;color: white;padding: 0px 10px;margin-left: -10px;border-radius: 5px;padding-top: 12px;"></i>
                </div>
            </div>
        </div>
        <div class="table-responsive mx-1 my-4" style="border-radius: 5px;">
            <table class="table table-sm  table-hover table-bordered" >
                <thead class="bg-success text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Reg&nbsp;No</th>
                        <th scope="col">Student&nbsp;Name</th>
                        <th scope="col">Father&nbsp;Name</th>
                        <th scope="col">Student&nbsp;Mobile&nbsp;No</th>
                        <th scope="col">Father&nbsp;Mobile&nbsp;No</th>
                        <th scope="col">Parent&nbsp;E-Mail&nbsp;ID</th>
                        <th scope="col">is&nbsp;paid?</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of studentList | filter:searchText; ;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.reg_no}} 
                            <sup class="text-success" *ngIf="data.by == 'S'">student</sup>
                            <sup class="text-success" *ngIf="data.by == 'A'">Admin</sup>
                            <sup class="text-success" *ngIf="data.by == 'SA'">Super Admin</sup>
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{data.f_name}}</td>
                        <td>{{data.mobile_no}}</td>
                        <td>{{data.f_mobile_no}}</td>
                        <td>{{data.f_email}}</td>
                        <td>
                            <span class="text-success" style="font-weight: 700;" *ngIf="data.is_paid == 1">PAID</span>
                            <span class="text-danger" style="font-weight: 700;" *ngIf="data.is_paid == 0">UNPAID</span>
                        </td>
                        <td><i class="fa fa-eye text-danger" (click)="showDetails(data)"></i>&nbsp;&nbsp;<i class="fa fa-edit text-warning" [routerLink]="['../student-registration' , {action:'update' , id:data.id , uuid:data.uuid}]"></i>&nbsp;&nbsp;<i class="fa fa-trash text-danger" (click)="deleteRegistration(data.id , data.uuid)"></i>
                        </td>
                    </tr>
                </tbody> 
<!-- 
                <tr >
                    <td [attr.colspan]="9" style="padding-top:20px;">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                          </nav>
                    </td>
                </tr> -->
                
            </table>
        </div>
    </div>
    <ng-template #notFound>
        <div class="row my-2 px-2">
            <div class="col-12 tabs" style="position: relative;display: flex;align-items: baseline;">
                <i class="fa fa-building fa-2x text-danger" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<h5
                    class="text-danger">No school Selected. Please Select the school</h5>
            </div>
        </div>
    </ng-template>
</div>

<app-registration-detail-view></app-registration-detail-view>