<div class="row px-1">
  <div class="col-8 col-lg-10">
    <h3 style="letter-spacing: 0.9px; text-transform: uppercase">
      Change&nbsp;Password
    </h3>
  </div>
  <hr class="p-0 m-0" />
  <br />

  <div
    class="col-12 col-lg-10 col-xxl-10 offset-lg-1 offset-xxl-1"
    *ngIf="this.school_code != 'Select School'; else notFound"
  >
    <form [formGroup]="resetForm" (ngSubmit)="reset()" ngNativeValidate>
      <div class="row">
        <div class="col-12 p-3 mb-2 tabs">
          <h5>Change&nbsp;Password</h5>
          <br />
          <div class="row g-4">
            <div class="col-12 col-md-4">
              <div class="inputBox">
                <input
                  type="text"
                  formControlName="username"
                  required
                />
                <label>Username</label>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="inputBox">
                <input
                  type="text"
                  formControlName="oldPassword"
                  required
                />
                <label>Current&nbsp;Password</label>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="inputBox">
                <input
                  type="text"
                  formControlName="password"
                  required
                />
                <label>New&nbsp;Password</label>
              </div>
            </div>

            
          </div>

          <br />

          <div class="col-12 col-md-4">
            <input
              type="submit"
              value="Change Password"
              class="btn btn-sm btn-success"
              [disabled]="loadingStatus"
            />
            &nbsp;<i
              class="fas fa-spinner fa-pulse text-success fa-lg"
              *ngIf="loadingStatus"
            ></i>
          </div>
        </div>
      </div>
    </form>


    <form [formGroup]="resetpassword" (ngSubmit)="resetpasswordFun()" ngNativeValidate>
      <div class="row">
        <div class="col-12 p-3 mb-2 tabs">
          <h5>Reset&nbsp;Password</h5>
          <br />
          <div class="row g-4">
            <div class="col-12 col-md-4">
              <div class="inputBox">
                <select class="from-control" (change)="onChange(username.value)" #username>
                  <option>Select Employee</option>
                  <option *ngFor="let dt of staffData" value="{{dt | json}}"> {{dt.name}} / {{dt.account}}</option>
                </select>
                <label>Username</label>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="inputBox">
                <input
                  type="text"
                  formControlName="password"
                  required
                />
                <label>New&nbsp;Password</label>
              </div>
            </div>

            
          </div>

          <br />

          <div class="col-12 col-md-4">
            <input
              type="submit"
              value="Reset Password"
              class="btn btn-sm btn-success"
              [disabled]="loadingStatus"
            />
            &nbsp;<i
              class="fas fa-spinner fa-pulse text-success fa-lg"
              *ngIf="loadingStatus"
            ></i>
          </div>
        </div>
      </div>
    </form>


  </div>

  <ng-template #notFound>
    <div class="row my-2 px-2">
      <div
        class="col-12 tabs"
        style="position: relative; display: flex; align-items: baseline"
      >
        <i class="fa fa-building fa-2x text-danger" aria-hidden="true"></i
        >&nbsp;&nbsp;&nbsp;
        <h5 class="text-danger">
          No school Selected. Please Select the school
        </h5>
      </div>
    </div>
  </ng-template>
</div>
